@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col">
            <a class="nav-item nav-link" href="#"><img src="~/Content/Images/logo.jpg" alt="..." class="img-thumbnail"></a>
        </div>
        <div class="col">
            <a class="nav-item nav-link" href="#"><img src="~/Content/Images/logo.jpg" alt="..." class="img-thumbnail"></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-item nav-link" href="#"><img src="~/Content/Images/logo.jpg" alt="..." class="img-thumbnail"></a>
        </div>
        <div class="col">
            <a class="nav-item nav-link" href="#"><img src="~/Content/Images/logo.jpg" alt="..." class="img-thumbnail"></a>
        </div>
        <div class="col">
            <a class="nav-item nav-link" href="#"><img src="~/Content/Images/logo.jpg" alt="..." class="img-thumbnail"></a>
        </div>
    </div>
</div>