@{ 
    ViewBag.Title = "System sprzedaży internetowej";
}
<div>
    @{Html.RenderAction("SideMenuCategory", "Home");}
</div>

<div class="container">
    <div class="row">
        <div class="col">
            
        </div>
        <div class="col">
            <a class="nav-item nav-link" href="#"></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="nav-item nav-link" href="#"></a>
        </div>
        <div class="col">
            <a class="nav-item nav-link" href="#"></a>
        </div>
        <div class="col">
            <a class="nav-item nav-link" href="#"></a>
        </div>
    </div>
</div>